---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Carrusel from '../components/Carrusel.astro';
import InfoClub from '../components/info_club.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Mogoda Trail | Tú club de Trail">
	<Header />
	<main>
		<Carrusel />
		<InfoClub />
	</main>
	<Footer />
</Layout>