<section class="text-center cursor-pointer mx-auto max-w-[1100px] bg-primary py-10 mb-10 hover:bg-[#dbdbdb] hover:scale-110 transition-all rounded-lg">
    <a href="/entrenamientos"><div class="bg-secondary w-14 p-3 rounded-full m-auto mb-5"><img class="m-auto" width="48px" src="../running.svg" alt="Icono de persona corriendo"></div>Entrenamientos</a>
</section>