<section class="border-t-4 border-[#ebebeb] flex flex-col md:flex-row text-2xl text-center">
    <div>
        <h1 class="font-medium text-3xl">Nuestros sponsors</h1>
        <div class="grid place-content-center md:grid-cols-4 grid-cols-2 mt-10">
            <a href="https://www.rapidwaysa.com/" target="_blank"><img width="124px" src="../RapidWay.png" alt="Logo de RapidWay"></a>
            <a href="https://vinila2.es/" target="_blank"><img width="124px" src="../Vinila2.png" alt="Logo de Vinila2"></a>
            <a href="https://www.maskdeportes.com/" target="_blank"><img width="124px" src="../MKD.jpg" alt="Logo de MasKDeportes"></a>
            <a href="https://brk23.com/?srsltid=AfmBOoquNlrbEBDmpaFx-uLH5beON5nU2aa5H8bzPmHD1hjLWP3VuJxq" target="_blank"><img width="124px" src="../BRK.png" alt="Logo de BRK"></a>
        </div>
    </div>
    <div class="text-left">
        <h1 class="mb-4 text-center font-medium text-3xl">Contacta con nosotros</h1>
        <div class="md:ml-[24%]">
            <span><span class="text-gray-pers">Email:</span> <a class="hover:underline" href="mailto:mogodatrail@gmail.com" target="_blank">mogodatrail@gmail.com</a></span>
            <div class="">
                <span class="text-gray-pers">Teléfonos:</span>
                <ul>
                    <li>- 633 32 43 77</li>
                    <li>- 626 60 15 87</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h1 class="font-medium text-3xl">Síguenos!</h1>
        <div class="grid md:grid-cols-3 w-60 m-auto place-content-end">
            <a href="https://www.strava.com/clubs/Mogodatrail" target="_blank"><img class="rounded-lg" width="64px" src="../Strava.jpg" alt="Logo de Strava"></a>
            <a href="https://es.wikiloc.com/wikiloc/user.do?id=8292487" target="_blank"><img class="rounded-lg" width="64px" src="../Wikiloc.png" alt="Logo de Wikiloc"></a>
            <a href="https://www.instagram.com/mogodatrail" target="_blank"><img class="rounded-lg" width="64px" src="../Instagram.jpg" alt="Logo de Instagram"></a>
        </div>
    </div>
</section>