<section class="sticky top-0 bg-primary z-10">
    <div class="flex justify-between items-center mx-20 my-7">
        <a href="/"><img src="Logo_letra.jpg" alt="Logo de Mogoda Trail"></a>
        <nav class="font-medium flex px-20">
            <a class="mx-7 px-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/">Inicio</a>
            <a class="mx-7 px-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/club">El Club</a>
            <a class="mx-7 px-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/socio">Alta Socio</a>
            <a class="mx-7 px-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/plogging">Plogging</a>
            <a class="mx-7 px-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/santa_5k">5K de Santa</a>
            <a class="mx-7 px-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/canicros">Canicros</a>
        </nav>
    </div>
</section>