<section class="grid place-content-center text-center mt-12">
    <h1 class="uppercase text-4xl underline underline-offset-8 decoration-secondary decoration-4 font-verdana">El Club</h1>
    <div class="max-w-[1200px] m-8 md:m-14 font-open-sans text-gray-pers font-medium text-xl text-justify mt-24">
        <p>Nuestro club deportivo <b>Mogoda Trail</b> es una entidad <b>sin ánimo de lucro</b>. Proponemos un proyecto de futuro en el ámbito deportivo, <b>entrenamientos dinámicos</b> con un grupo de compañeros/as de <b>todos los niveles</b> con la finalidad de hacer deporte y donde sobre todo <b>el trail y el ‘running’</b> toman un papel importante combinado con el trabajo funcional.</p>
        <br>
        <p>El club ofrece <b>preparaciones para competiciones</b> u otras disciplinas y actividades grupales, en las cuales simplemente salimos a  desconectar del día a día disfrutando de una salida/entreno <b>en compañía del resto de integrantes del club.</b></p>
        <br>
        <p>El <b>buen ambiente y la pasión</b> por el deporte en general son factores esenciales del club deportivo <b>Mogoda Trail</b>. Si quieres unirte <b>sólo tienes que contactarnos!</b></p>
    </div>
    <img class="m-auto pb-14 px-8 md:p-14" src="../Night_Trail.jpg" alt="Foto de la cursa de Night Trial Santa Perpètua 2023">
</section>