<section class="hidden md:flex items-center justify-between mx-20">
    <a href="/"><img class="w-52 xl:w-64 py-3" src="Logo_letra.jpg" alt="Logo de Mogoda Trail"></a>
    <nav>
        <a class="mx-5 px-2 py-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/">Inicio</a>
        <a class="mx-5 px-2 py-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/club">El Club</a>
        <a class="mx-5 px-2 py-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/socio">Alta Socio</a>
        <a class="mx-5 px-2 py-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/plogging">Plogging</a>
        <a class="mx-5 px-2 py-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/santa_5k">5K de Santa</a>
        <a class="mx-5 px-2 py-1 hover:underline hover:scale-105 hover:bg-secondary rounded-lg transition-all" href="/canicros">Canicros</a>
    </nav>
</section>