<section class="cursor-pointer bottom-6 right-6 fixed px-3 py-2 bg-secondary rounded-xl flex hover:scale-110 transition-all items-center">
    <img class="rounded-full w-[48px] mr-4" src="Logo.jpg" alt="">
    <a class="font-roboto font-semibold" href="https://www.mogodatrail.com/">Ir a la web oficial</a>
</section>